body {
    margin: 0;
}

#controls {
    text-align: center;
    padding-top: 20px;
    margin-bottom: -20px;
}

    #controls > input {
        font-size: 20px;
    }

#board {
    margin: 50px auto;
    border: solid 5px #444;
}

.block {
    width: 28px;
    height: 28px;
    border: solid 1px #444;
    float: left;
    cursor: pointer;
}

    .block.live {
        background-color: #7c437c;
    }

    .block:not(.live):hover {
        background-color: #7c437c8f;
    }